---
layout: default
title: "PSoC DFB Topics and Tools"
---
	<h1>Where and when is my data?</h1>
	<div class="content">
		<p>This site aims to decrease the learning curve of the Digital Filter Block (DFB), a limited-scope DSP engine that is built into the <a href="http://www.cypress.com/products/microcontrollers-mcus">Cypress PSoC</a> line.</p>
		<figure>
			<object width="1024" type="image/svg+xml" data="/assets/images/dfbdiagram.svg">
				Your browser does not support SVG
			</object>
			<figcaption>Above is a diagram from the Mini DFB Assembler IDE available to the left.</figcaption>
		<figure>
		<h3>Using the DFB in a PSoC microcontroller</h3>
		<p>There are two ways to make use of the DFB:</p>
		<ol>
			<li>Using the <a href="http://www.cypress.com/documentation/component-datasheets/filter">Filter Component</a>: it provides a user friendly interface on top of the DFB to configure a two channel streaming digital filter</li>
			<li>Using the <a href="http://www.cypress.com/documentation/component-datasheets/digital-filter-block-dfb-assembler">Digital Filter Block (DFB) Assembler</a> to program a custom DSP algoritm</li>
		</ol>
		<h3>"Do not pray for an easy life, pray for the strength to endure a difficult one" ― Bruce Lee</h3>
		<p>A recent design of mine had more advanced requirements than the filter component could provide.</p>
		<p>I needed:</p>
		<ul>
			<li>8 channel ADC threshold and peak monitoring in real-time</li>
			<li>4 channel x 24-sample linear regression slope calculation to run in the background on demand</li>
		</ul>
		<p>These are too heavy to do on the CPU with other tasks so I set out to learn DFB assembler.</p>
		<p>During this learning cycle I found that while the datasheet covers each technical area in detail it lacks a macro view and is somewhat opaque in the pipelining aspects. As with most datasheets, it takes a long time for all of the information to 'click'.</p>
		<p>The learning curve can be steep on DFB assembler due to several factors:</p>
		<ul>
			<li>The assembler simulator provides limited output information of each subsystem within the DFB</li>
			<li>The pipeline delays are not directly documented. The datasheet indicates:<blockquote>The instruction pipelining follows Figure 3 for the DFB processor.<br>The diagram shows the locations of the pipeline registers so you can determine the instruction pipeline latency.</blockquote>
			<li>Perhaps the pipelining is obvious to a professional DSP engineer, but I did not find it to be clear and the cognitive load was bothersome.</li>
		</ul>
		<h3>Standing on the shoulders of giants</h3>
		<p>In working my way up the learning curve I found very few resources outside of the datasheet, but these stood out:</p>
		<ul>
			<li><a href="http://arttools.blogspot.com/2016/02/psoc-5lp-dfb-assembler.html">Magnus Lundin</a> has been active on the PSoC forums with DFB advice, and also has a site with well-documented example code.</li>
			<li><a href="https://www.hackster.io/antedeluvian/measuring-an-rms-signal-on-a-psoc5-a9fa6d">Aubrey Kagan</a> posted an article on calculating RMS using the DFB.</li>
			<li>Chris Keeser and Dan Sweet at Cypress worked on DFB assembler improvements in 2013 and posted <a href="http://www.cypress.com/forum/psoc-community-components/dfb-assembler-and-significantly-improved-simulator-component">a very informative post here</a> describing the pipeline delays. Look for the attachment "Download UsefulDFB_Info.zip"</li>
			<li>Of course there are also a number of examples in the <a href="https://community.cypress.com/search.jspa?q=(digital+filter+block)">Cypress developer forum</a>.</li>
		</ul>
		<h3>The tools to make the tools</h3>
		<p>In order to achieve my design objectives and maintain sanity I decided to take a few weeks and build a mini-development environment for the DFB. It provides the following benefits:
		<ol>
			<li>Visual diagram of the pipeline delays - you can see when an instruction is queued, when data is loaded, when the calculations take place, and when the output is put on the datapath</li>
			<li>View of the data values as they move through the datapath</li>
			<li>Visual indication of active datapath as configured by the muxes</li>
			<li>Ability 'scrub' backward and forward through the code cycles</li>
			<li>Full detail of ACU / Data ram and address registers at each cycle</li>
			<li>Jump diagram to allow one to easily check that the ACU is positioned on the proper offset at each entry to a label</li>
			<li>Ability to 'schedule' globals ahead of time at specific cycles, instead of hand entering them</li>
			<li>A value converter to switch values between hex, integer, and DFB q.23 values one at a time or in bulk</li>
		</ol>
		<p>The bottom line with this tool is that is that you may see <strong>where</strong> and <strong>when</strong> your data is inside the DFB, which is critical to efficient development.</p>
		<p>The Mini DFB IDE tool is available <a href="https://github.com/paphillips/DFB">free and open source on github</a>.</p>
		<p>The windows installer is <a href="https://github.com/paphillips/DFB/raw/master/DFBUtilityInstaller/Debug/DFBUtilityInstaller.msi">here</a>.</p>
	</div>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}