
/* .btn-bd-download{ */
	/* font-weight:500; */
	/* color:#ffe484; */
	/* border-color:#ffe484 */
/* } */

/* .btn-bd-download:active,.btn-bd-download:hover{ */
	/* color:#2a2730; */
	/* background-color:#ffe484; */
	/* border-color:#ffe484 */
/* } */

/* .nav-link { */
	/* margin-left: 1rem; */
	/* margin-right: 1rem; */
/* } */

/* .nav-link:hover{ */
	/* color: #fff; */
	/* background-color: #0069d9; */
	/* border-color: #0062cc; */
	/* border-radius: 0.25rem; */
/* } */

/* .nav-link:focus { */
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); */
/* } */

/* SIDEBAR */
/* .bd-toc { */
  /* @supports (position: sticky) { */
    /* position: sticky; */
    /* top: 4rem; */
    /* height: calc(100vh - 4rem); */
    /* overflow-y: auto; */
  /* } */
  /* order: 2; */
  /* padding-top: 1.5rem; */
  /* padding-bottom: 1.5rem; */
  /* font-size: .875rem; */
/* } */

/* DOCUMENT */

html, body {
  height: 100%;
  margin: 0;
}

body {
	background-clip: padding-box;
	position: relative;
}

.logo {
	margin: 0px;
	width: 180px;
	height: 50px;
}

.container-fluid {
	/* margin-top: 80px; */
	margin-left: 0;
	margin-right: auto;
	flex: 1;
}

.footer {
  margin-top: 20px;
  background-color: #212529;
}

/* .row>* { */
	/* margin: 10px; */
 /* } */
	  
.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;flex-direction: column;
}

/* HEADINGS */
h1 {
	margin: 80px 0px 10px 0px;
}

h2 {
	margin: 24px 0px 8px 0px;
}

h3 {
	margin: 20px 0px 8px 0px;
}

/* SVG */
a.svglink:after{
	content: ""; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
}

a.svglink {
  position: relative;
  display: inline-block;
}

/* ALERTS */
.alert-half {
	width: 50%
}

/* IMAGES */
.img-fullwidth {
	width: 100%;
}

/* Examples diagram */
object.diagram-examples {
	min-height: 100px;
	max-height: 900px;
}

/* FIGURES */
.figure {
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
	border: 1px solid gray;
	box-shadow: 1px 1px 2px gray;
}

.figure-caption {
	margin: 10px 0 10px 0;
	text-align: center;
}

.figure-sm {
	width: 25%;
}

.figure-med {
	width: 50%;
}

.figure-lg {
	width: 75%;
}

.figure-xl {
	width: 98%;
}


/* TOC */
.tocpos {
	position:fixed;
	margin-top: 80px;
}

/* CARDS */
.card-columns {
	flex-flow: row wrap;
	flex-direction: row;
}

.cards {
    display: flex;
    flex-wrap: wrap;
 }
 
.card {
	/* height: 600px; */
	/* height: 80em; */
	flex: auto;
	/* flex: 1 0 500px; */
	box-shadow: 2px 2px 2px gray;
    box-sizing: border-box;
    margin: 1rem .25em;
	border-radius: 0.25rem;
}

.card-header {
	font-size: 1.25rem;
}

.card-header-cornersvg {
	float: right;
	margin: 0px;
	width: 40px;
	height: 40px;
}

.card-brief {
	/* padding: 1rem 1rem 1rem 1rem; */
	background-color: #ffffff;
	height: 4.5em;
	overflow: hidden;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 1rem;
	/* position: absolute; */
	/* right: 0; */
	/* bottom: 0; */
	/* left: 0; */
	/* z-index: 1030; */
}

.card-thumbnail {
	height: 360px;
	/* width: 400px; */
	/* height: 100%; */
	padding: 10px;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(0, 0, 0, 0.0);
	display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
	/* margin: auto; */
	
	/* overflow: hidden; */
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	background-color: #FFFFFF;
}

.card-thumbnail:hover {
	padding: 4px;
	background-color: #EEEEEE;
	border: 1px solid rgba(40, 167, 69, 1);
}

.card-content {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 30rem;
	/* display: inline-block; */
	/* display: block; */
}

/* .card-footer { */
	/* bottom: 0; */
/* } */


/* MEDIA */
/* @media screen and (min-width: 20em) { */
    /* .card { */
       /* max-width: calc(100% -  1em); */
    /* } */
/* } */

@media screen and (min-width: 20em) {
    .card {
		max-width: calc(100% -  1em);
    }
}

@media screen and (min-width: 50em) {
    .card {
        max-width: calc(50% - 1em);
    }
}

@media screen and (min-width: 80em) {
    .card {
        max-width: calc(33% - 1em);
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center
}

/* TABLES */
.table.dfb {
	display: inline-block;
}

/* PRISM CODE SYNTAX HIGHLIGHTING */
pre {
	/* width: 75%; */
	display: inline-block;
}

.token.comment {
	color: green;
}

.token.commentbold {
	color: green;
	font-weight: bold
}

.token.opcode {
	color: blue;
}

.token.codelabel {
	color: black;
	font-weight: bold
}

/* CAROUSEL*/
/* .carousel-indicators li { */
  /* background-color: rgba(0, 0, 0, 0.5); */
/* } */

/* .carousel-indicators .active { */
  /* background-color: #dcdcdc; */
/* } */

.carousel-control-prev,
.carousel-control-next {
  color: #000000;
  /* align-items: baseline; */
  position: absolute;
  top: 0px;
  bottom: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  /* top: 0; */
  /* left: 0; */
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  /* top: 0; */
  /* right: 0; */
}

/* .carousel-indicators .active { */
  /* background-color: #337ab7; */
/* } */

.carousel-indicators {
	top: 0;
	bottom: auto;
	border-bottom: 1px;
}

.carousel-indicators-numbers li {
	text-indent: 0;
	/* margin: 0 2px; */
	/* width: 30px; */
	/* height: 30px; */
	/* border: none; */
	/* border-radius: 100%; */
	/* line-height: 30px; */
	/* color: #000000; */
	/* background-color: #999; */
	/* transition: all 0.25s ease; */
	text-align: center;
	border-radius: 20px;
    margin: 1px 3px;
	padding: 4px 2px 4px 2px;
    height: 36px;
    max-width: 20px;
    /* border: 1px solid #FFF; */
    /* background-color: transparent; */
	background-color: #dcdcdc;
	cursor: pointer;
}

.carousel-indicators-numbers .active {
    background-color: #337ab7;
	color: #ffffff;
    max-width: 20px;
    height: 36px;
}

.carousel-indicators-numbers:hover,
.carousel-indicators-numbers:focus {
	/* text-indent: 0; */
	/* margin: 0 2px; */
	/* width: 30px; */
	/* height: 30px; */
	/* border: none; */
	/* border-radius: 100%; */
	/* line-height: 30px; */
	/* color: #fff; */
	/* background-color: #337ab7; */
}

/* .carousel-caption { */
    /* top: 0; */
    /* bottom: auto; */
/* } */